<h3>You entered the game with $500.</h3>
<h3>You leave with $<%= @balance %>.</h3>
</br>
<h3>Thanks for playing <%= @player_name %>!</h3>
</br>
<form action='/' method='get'>
  <input type="submit" class="btn btn-primary" value="Start a new game"/>
</form>
